 #map {
	width:100%;
	height: 100%;
}

nav{
	z-index:999; 
	position:absolute;
}

html, body{

	background:white;
	height:100%;
	margin:0;

}

.button-container{

	padding:20px;
	text-align:center;

}

.overlay-container{

	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
	position:absolute;
	z-index:500;
	top:0;
}

/*
@media (max-width:600px){
	.overlay-container{
		top:56px;
	}
}*/

.loading{

	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	z-index:600;
	width:50px;

}