<html ng-app="dengueApp" lang="en">
  <head>
    <title>Dengue-clusters</title>
     <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="styles/icons.css">-->
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body ng-controller="MainCtrl">

    <nav class="white darken">
      <div class="nav-wrapper">
        <a href="#" style="font-weight:200; font-size:1.6em;"class="brand-logo center black-text">Dengue clusters in Singapore</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a><i class="material-icons black-text">info_outline</i></a></li>
        </ul>
      </div>
    </nav>
        
  	
    <!--<h4 style="font-size:2.5em; padding:10px;text-align:center; font-weight:200;">Hello Data Science</h4>-->

    <div id="map"></div>

    <div style="position:absolute; bottom:10px; left:0; right:0;"class="button-container">
      <a ng-click="showTodaysData()" class="waves-effect waves-light btn-large red">Today</a>
      <a ng-click="showFutureData()"class="waves-effect waves-light btn-large green">Future</a>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6XNrre4LvX-3tC2JLxcKuCuWtvwPN_6U&libraries=visualization" type="text/javascript"></script>
  </body>
</html>